name: CI
on:
  # schedule:
  #   - cron: "0 3 * * 3"
  workflow_dispatch:
jobs:
  laliga-scraping:
    name: Scrap laliga.com and generate csv dataset files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - uses: BSFishy/pip-action@v1
        with:
          requirements: requirements.txt
      - run: python main.py -v
        env:
          PAGINATOR_XPATH: ${{ secrets.PAGINATOR_XPATH }}
          COMPETITIONS_DIV_XPATH: ${{ secrets.COMPETITIONS_DIV_XPATH }}
          COMPETITIONS_UL_XPATH: ${{ secrets.COMPETITIONS_UL_XPATH }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update dataset file
